In [1]:
import os
import pandas as pd
import glob

# Find all metrics.csv files in results subfolders
results_dir = os.path.join(os.getcwd(), 'results')
metrics_files = glob.glob(os.path.join(results_dir, '**', 'metrics.csv'), recursive=True)

# Read and concatenate all results
all_results = []
for metrics_file in metrics_files:
    df = pd.read_csv(metrics_file)
    # Add config info if available
    config_path = os.path.join(os.path.dirname(metrics_file), 'config.json')
    if os.path.exists(config_path):
        import json
        with open(config_path, 'r') as f:
            config = json.load(f)
        for k, v in config.items():
            df[k] = v
    all_results.append(df)

if all_results:
    results_df = pd.concat(all_results, ignore_index=True)
    display(results_df)
else:
    print("No results found in results/ directory.")

,epoch,train_acc,val_acc,timestamp,N_NODES,N_COMMUNITIES,INPUT_TOKENS,OUTPUT_TOKENS,SEQ_LEN,D_MODEL,N_SUP,N,T,USE_ATT,N_LAYERS
0,0,NaN,0.400000,2025-11-03T12:27:57.772752,5,3,2,3,25,128,16,6,3,False,NaN
1,1,NaN,1.000000,2025-11-03T12:28:57.971406,5,3,2,3,25,128,16,6,3,False,NaN
2,2,NaN,1.000000,2025-11-03T12:29:58.291356,5,3,2,3,25,128,16,6,3,False,NaN
3,3,NaN,1.000000,2025-11-03T12:30:58.138436,5,3,2,3,25,128,16,6,3,False,NaN
4,4,NaN,1.000000,2025-11-03T12:31:57.743128,5,3,2,3,25,128,16,6,3,False,NaN
5,5,NaN,1.000000,2025-11-03T12:33:31.890308,5,3,2,3,25,128,16,6,3,False,NaN
6,0,NaN,0.648828,2025-11-03T13:36:08.142894,5,2,2,2,25,64,16,6,3,False,2.0
7,1,0.992572,1.000000,2025-11-03T13:37:09.433713,5,2,2,2,25,64,16,6,3,False,2.0
8,2,1.000000,1.000000,2025-11-03T13:38:10.724826,5,2,2,2,25,64,16,6,3,False,2.0
9,3,1.000000,1.000000,2025-11-03T13:39:11.833924,5,2,2,2,25,64,16,6,3,False,2.0
10,4,1.000000,1.000000,2025-11-03T13:40:13.017821,5,2,2,2,25,64,16,6,3,False,2.0
11,5,1.000000,1.000000,2025-11-03T13:41:14.139580,5,2,2,2,25,64,16,6,3,False,2.0
12,0,NaN,0.464453,2025-11-03T13:41:21.792752,10,2,2,2,100,128,16,6,3,False,2.0
13,1,0.991302,1.000000,2025-11-03T13:42:25.336765,10,2,2,2,100,128,16,6,3,False,2.0
14,2,1.000000,1.000000,2025-11-03T13:43:28.665805,10,2,2,2,100,128,16,6,3,False,2.0
15,3,1.000000,1.000000,2025-11-03T13:44:31.978488,10,2,2,2,100,128,16,6,3,False,2.0
16,4,1.000000,1.000000,2025-11-03T13:45:41.019430,10,2,2,2,100,128,16,6,3,False,2.0
17,5,1.000000,1.000000,2025-11-03T13:46:44.309475,10,2,2,2,100,128,16,6,3,False,2.0
18,0,NaN,0.350000,2025-11-03T13:49:38.364822,20,3,2,3,400,256,16,6,3,False,4.0
19,1,0.972917,1.000000,2025-11-03T14:12:05.984502,20,3,2,3,400,256,16,6,3,False,4.0
20,2,1.000000,1.000000,2025-11-03T14:34:11.963616,20,3,2,3,400,256,16,6,3,False,4.0
21,3,1.000000,1.000000,2025-11-03T14:56:01.114849,20,3,2,3,400,256,16,6,3,False,4.0
22,4,1.000000,1.000000,2025-11-03T15:17:50.252968,20,3,2,3,400,256,16,6,3,False,4.0
23,5,1.000000,1.000000,2025-11-03T15:39:39.277320,20,3,2,3,400,256,16,6,3,False,4.0
24,0,NaN,0.233008,2025-11-03T16:16:55.949077,30,4,2,4,900,512,16,6,3,False,6.0